[Unit]
Description=Service that checks if vpn is up
After=network.target
After=suspend.target

ExecStart=/usr/local/bin/vpn_check dijkstra

[Install]
WantedBy=suspend.target
WantedBy=network.target

